<header class="grid-container-header">
  <div class="left-header">
    <div class="logo">
      <img routerLink="home" class="icono_arg" src="https://res.cloudinary.com/dets0trss/image/upload/v1672774926/logo_t8zyls.png" alt="logo de la pagina" />
      </div>
      <div class="nombre_logo">
        <h1>Argentina Programa</h1>
      </div>
      <div class="right-header">
        <!-- redes editables -->
           <div class="iconos" *ngFor="let icono of redes">
            <a class="link_red" [href]="icono.url"><img class="img_red" [src]="icono.icono"[alt]="icono.nombre"></a>
           </div>
      </div>
      <div class="edit">
         <img (click)="cambiarModoEdicion()" src="https://res.cloudinary.com/dets0trss/image/upload/v1672774926/editar_yo6ldx.png" alt="editar perfil">
      </div> 
  </div>
 
  <div class="accesos_componentes">
    <a mat-button routerLink="home">home</a>
    <a mat-button routerLink="sobre-mi"> sobre mi</a>
    <a mat-button routerLink="stack">skills</a>
    <a mat-button routerLink="exp"> experiencia </a>
    <a mat-button routerLink="estudios"> estudios</a>
    <a mat-button routerLink="contacto"> contacto </a>
    <a mat-button routerLink="proyectos">proyectos</a>
  </div>
</header>
