<main>
  <div class="contenedor">
<div class="window">


  <div class="window__title">
    <span>&lt;MIS PROYECTOS/&gt;</span>
    <div *ngFor="let image of proyectos">
      <a [href]="image.url">{{image.url}}</a>
    </div>
    <div class="title-right">
      <img src="https://res.cloudinary.com/dets0trss/image/upload/v1672774927/minimizar_typ0ym.png"
        alt="minimize window" />
      <img src="https://res.cloudinary.com/dets0trss/image/upload/v1672774927/pestanas_oabiix.png"
        alt="expand window" />
      <img src="https://res.cloudinary.com/dets0trss/image/upload/v1672774926/close_u25yql.png" alt="close window" />
      <button class="off-edit" [ngClass]="{'active-edit': usuarioService.enableEdit}" mat-icon-button routerLink="add-prod">
        <mat-icon color="accent">add</mat-icon>
      </button>
    </div>
    
  </div>
  <div class="window__screen_user">
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" *ngFor="let image of proyectos; let i = index" [ngClass]="{'active': i == 0}">
          <img [src]="image.img" class="d-block w-100">
          <div class="edit-delete">
            <button class="off-edit" [ngClass]="{'active-edit': usuarioService.enableEdit}" mat-icon-button type="submit"  (click)="delete(image.id)">
              <mat-icon color="accent">delete</mat-icon>
          </button> 
          <button class="off-edit" [ngClass]="{'active-edit': usuarioService.enableEdit}" mat-icon-button type="submit"  (click)="editarProyecto(image)">
              <mat-icon color="accent">edit</mat-icon>
          </button>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
</div>
</main>

