@use "./src/app/app.component" as c;

.contenedor{
  padding-top: 2em;
  .window {
    margin-left: auto;
    margin-right:auto;
    height: fit-content;
    width: 70%;
    

    &__title {
      border-radius: 5px;
      background: c.$rosaFuerte;
      padding: 0.5em;
      border: 3px solid c.$violetaFuerte;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 0.2em;

      span{
        display: block;
        color: white;
        font-size: 1.5rem;
        white-space: nowrap;
        border-right: 2px solid;
        width: 16ch;

        animation: typing 2s steps(16),
        blink .5s infinite  step-end alternate;
        overflow: hidden;
    } 
    @keyframes typing {
        from{ width: 0}
    }
    @keyframes blink {
        50%{ border-color: transparent}
    }
      mat-icon{
        color: white;
      }
       .title-right{
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            margin-left: .2rem;
            height: 2em;
          }
       }
      
    }




    &__screen_user {
        background-color: c.$rosaClaro;
        border: 2px solid c.$violetaFuerte;
        border-radius: 5px;
        width: 100%;
        div {
          img {
            width: 100%;
            height: 100%;
          }
        }
       .edit-delete{
        display: flex;
        justify-content: center;
        mat-icon{
          color: c.$violetaFuerte;
        }
       }   
      }
  
      &__margin {
        padding: 0.5em;
      }
}
}


