<main>
 <div class="cont-estudios">
   <div class="window">
          <div class="bar">
              <span>&lt;MIS ESTUDIOS/&gt;</span>
              <div class="img-barra">
              <img src="https://res.cloudinary.com/dets0trss/image/upload/v1672774927/minimizar_typ0ym.png" alt="">
              <img src="https://res.cloudinary.com/dets0trss/image/upload/v1672774927/pestanas_oabiix.png" alt="">
              <img src="https://res.cloudinary.com/dets0trss/image/upload/v1672774926/close_u25yql.png" alt="">
              </div>
          </div>
          <div class="texto"  *ngFor="let estu of estudios">
            <div class="icono">
              <img [src]="estu.img" alt="img institucion">
            </div>
              <div class="dato_estudios">
                  <h2>Institución</h2>
                  <h3>{{estu.institucion}}</h3>
                  <h2>Titulo/Certificación</h2>
                  <h3>{{estu.titulo}}</h3>
                  <h2>Duración</h2>
                  <h3>{{estu.inicio}} / {{estu.fin}}</h3>
            </div>
            <div class="edit-delete">
              <button class="off-edit" [ngClass]="{'active-edit': usuarioService.enableEdit}" mat-icon-button type="submit"  (click)="delete(estu.id)">
                <mat-icon color="accent">delete</mat-icon>
              </button> 
              <button class="off-edit" [ngClass]="{'active-edit': usuarioService.enableEdit}" mat-icon-button type="submit"  (click)=" editar(estu)">
                <mat-icon color="accent">edit</mat-icon>
              </button> 
            </div>
          </div>
      </div>
      <button mat-icon-button routerLink="add-estudio">
        <mat-icon class="off-edit" [ngClass]="{'active-edit': usuarioService.enableEdit}" color="accent">add</mat-icon>
       </button> 
</div>
</main>
