<main>
<div class="cont-estudios">
     <div class="window">
         <div class="bar">
             <span>&lt;EXPERIENCIAS LABORALES/&gt;</span>
             <div class="img-barra">
             <img src="https://res.cloudinary.com/dets0trss/image/upload/v1672774927/minimizar_typ0ym.png" alt="">
             <img src="https://res.cloudinary.com/dets0trss/image/upload/v1672774927/pestanas_oabiix.png" alt="">
             <img src="https://res.cloudinary.com/dets0trss/image/upload/v1672774926/close_u25yql.png" alt="">
             </div>
         </div>
         <div class="texto"  *ngFor="let exp of experiencias">
           <div class="icono">
             <img [src]="exp.img" alt="img empresa/trabajo">
           </div>
             <div class="dato_estudios">
                 <h2>Puesto / Rol</h2>
                 <h3>{{exp.puesto}}</h3>
                 <h2>Descripcion del puesto o trabajo</h2>
                 <h3>{{exp.descripcion}}</h3>
                 <h2>Empresa / Cliente</h2>
                 <h3>{{exp.empresa}}</h3>
                 <h2>Trabajando actualmente</h2>
                 <h3>{{exp.activo | booleanText : "Trabajando actualmente":"Ya no trabajo aquí" }}</h3>
                 <h2>Duración</h2>
                 <h3>{{exp.inicio}} / {{exp.fin}}</h3>
           </div>
           <div class="edit-delete">
            <button class="off-edit" [ngClass]="{'active-edit': usuarioService.enableEdit}" mat-icon-button type="submit" (click)="delete(exp.id)">
              <mat-icon color="accent">delete</mat-icon>
            </button> 
            <button class="off-edit" [ngClass]="{'active-edit': usuarioService.enableEdit}" mat-icon-button type="submit" (click)=" editar(exp)">
              <mat-icon color="accent">edit</mat-icon>
            </button> 
           </div>
         </div>
     </div>
     <button class="off-edit" [ngClass]="{'active-edit': usuarioService.enableEdit}" mat-icon-button routerLink="add-exp">
      <mat-icon >add</mat-icon>
     </button> 
</div>
</main>
