* {

  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', Courier, monospace !important;
  min-height: 100vh;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

html {
  font-size: 16px;
}
 
main{
animation: test 300ms linear;
}
@keyframes test {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

$rosaClaro: #f1dedc;
$rosaFuerte:#e4b4b4;
$violetaClaro:#adabb6;
$violetaFuerte:#7f6c77;
$azul: #195980;
$azulClaro: #6896B2;
$marron:#49302f;
