
<main>
  <div class="cont-general">
  <div class="titulo">
    <span>&lt;Ponete en contacto/&gt;</span>
    <button mat-icon-button routerLink="add-red">
      <mat-icon color="accent">add</mat-icon>
     </button> 
  </div>
<div class="container">
<div class="row w-50" *ngFor="let red of redes">
  <div class="icono">
    <img [src]="red.icono" alt="img institucion">
  </div>
  <a [href]="red.url">{{red.url}}</a>
  <div class="delete-edit">
        <button mat-icon-button type="submit" (click)="delete(red.id)">
          <mat-icon >delete</mat-icon>
        </button> 
        <button mat-icon-button type="submit" (click)=" editar(red)">
          <mat-icon >edit</mat-icon>
        </button>               
   </div>
  </div>
</div>
</div>
</main>
