
<main>
<a mat-button routerLink="add-red"> Agregar otra red:</a>
<div class="container">
<div class="row" *ngFor="let red of redes">
  <div class="icono">
    <img [src]="red.icono" alt="img institucion">
  </div>
    <div class="delete-edit">
        <button mat-icon-button type="submit" (click)="delete(red.id)">
          <mat-icon color="accent">delete</mat-icon>
        </button> 
        <button mat-icon-button type="submit" (click)=" editar(red)">
          <mat-icon color="accent">edit</mat-icon>
        </button>               
    </div>
  </div>
</div>
</main>