<main>
  <div class="container-main-a">
    <div class="window">
      <div class="window__title">
        <div class="title-left">
          <h2 class="d-flex">
            <span>Untitled</span>
            <span>-</span>
            <span>TextEdit</span>
          </h2>
        </div>

        <div class="title-right">
          <img
            src="https://res.cloudinary.com/dets0trss/image/upload/v1672774927/minimizar_typ0ym.png"
            alt="minimize window"
          />
          <img
            src="https://res.cloudinary.com/dets0trss/image/upload/v1672774927/pestanas_oabiix.png"
            alt="expand window"
          />
          <img src="https://res.cloudinary.com/dets0trss/image/upload/v1672774927/minimizar_typ0ym.png" alt="close window" />
        </div>
      </div>

      <div class="window__menu">
        <span class="line-letter">F</span><span>ile</span>
        <span class="line-letter">E</span><span>dit</span>
        <span class="line-letter">V</span><span>iew</span>
        <span class="line-letter">H</span><span>elp</span>
      </div>

      <div class="window__screen">
        <div class="screen-title">
          <h1 class="titulo">&lt;PORTFOLIO/&gt;.<span>&#160;</span></h1>
        </div>
        <div class="screen-name" *ngFor="let usuario of datos ">
          <h1 >{{usuario.nombre}} {{usuario.apellido}}</h1>
          <h3 ><{{usuario.titulo}}></h3>
        </div>

        <span id="scrollbar-style-x"></span>
        <span id="scrollbar-style-y"></span>
        <span id="scrollbar-corner">
            <img src="https://res.cloudinary.com/dets0trss/image/upload/v1672774926/corner_sdrnjb.png" alt="corner" />
          </span>
        <span id="scrollbar-arrow-x">
            <img src="https://res.cloudinary.com/dets0trss/image/upload/v1672774927/next_a6gpsw.png" alt="arrow" />
          </span>
        <span id="scrollbar-arrow-y">
            <img src="https://res.cloudinary.com/dets0trss/image/upload/v1672774927/next_a6gpsw.png" alt="arrow" />
          </span>
      </div>
    </div>
  </div>
</main>








































