<form class="cont-general  mt-5 "  [formGroup]="formulario" (ngSubmit)="agregar()">
    <div class="row">
      <div class="col-md-9">
        <mat-form-field appearance="fill" class="fill">
          <mat-label>Agrega una nueva herramienta a tu stack:</mat-label>
          <input matInput formControlName="nombre">
        </mat-form-field>
      </div>
      
      <div class="col-md-3">
        <button type="submit" mat-raised-button color="primary">Agregar</button>
      </div>
    </div>
  </form>