

<form class="cont-general  mt-5 "  [formGroup]="fomularioDatos" (ngSubmit)="editarDatos(datos)">
  <div class="row"  align="center">
    <div class="col-md-6">
      <mat-form-field appearance="fill" class="fill">
        <mat-label>Tu nombre</mat-label>
        <input matInput formControlName="nombre">
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field appearance="fill" class="fill">
        <mat-label>Tu apellido</mat-label>
        <input matInput formControlName="apellido">
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field appearance="fill" class="fill">
        <mat-label>Descripcion sobre ti</mat-label>
        <input matInput formControlName="descripcion">
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field appearance="fill" class="fill">
        <mat-label>Una foto tuya</mat-label>
        <input matInput formControlName="img">
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field appearance="fill" class="fill">
        <mat-label>Fecha nacimiento yyyy-mm-dd </mat-label>
        <input matInput formControlName="nacimiento">
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field appearance="fill" class="fill">
        <mat-label>Titulo para tu banner</mat-label>
        <input matInput formControlName="titulo">
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field appearance="fill" class="fill">
        <mat-label>Tu correo</mat-label>
        <input matInput formControlName="email">
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field appearance="fill" class="fill">
        <mat-label>Link a tu cv</mat-label>
        <input matInput formControlName="curriculum">
      </mat-form-field>
    </div>
 
    <div class="col-md-6">
      <button type="submit" mat-raised-button color="primary">Agregar los datos</button>
    </div>
  </div> 
  </form>